In [92]:
import pandas as pd
import numpy as np
import datetime as dt

In [93]:
bout_sum_csv = "bout_summary.csv"
fighter_csv = "fighter_data.csv"

In [94]:
bout_df = pd.read_csv(bout_sum_csv)
bout_df.head()

,fight_id,fighter_1,fighter_1_id,fighter_2,fighter_2_id,winner,decision_method,fight_duration_lastrnd,fight_duration_lastrnd_time,time_format,weight_class,date,location
0,d7cbe2f23d75afd1,Julio Arce,1291edf2d566a71a,Hakeem Dawodu,2c9d00968f818270,Hakeem Dawodu,Decision - Split,3,5:00,3 Rnd (5-5-5),Featherweight Bout,"November 02, 2019","New York City, New York, USA"
1,f0418c2c989a5cde,Grigorii Popov,d3fa5c5955397532,Davey Grant,113df4fde64735c6,Davey Grant,Decision - Split,3,5:00,3 Rnd (5-5-5),Bantamweight Bout,"November 09, 2019","Moscow, Moscow, Russia"
2,fc16ccf0994c6e50,Jack Shore,b8a85389d115e35a,Nohelin Hernandez,f97c5433c77522d3,Jack Shore,Submission,3,2:51,3 Rnd (5-5-5),Bantamweight Bout,"September 28, 2019","Copenhagen, Denmark"
3,18e1b0df8da7010e,Vanessa Melo,9b7dfb3b7d99926a,Tracy Cortez,68d4a891e5cf2029,Tracy Cortez,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Women's Bantamweight Bout,"November 16, 2019","Sao Paulo, Sao Paulo, Brazil"
4,57ff0eb2351979c4,Khalid Taha,b4537562f88ac582,Bruno Silva,294aa73dbf37d281,Khalid Taha,Submission,3,3:00,3 Rnd (5-5-5),Bantamweight Bout,"October 05, 2019","Melbourne, Victoria, Australia"

In [95]:
## List of transformations to be performed

# remove fighter id columns from the dataset
# drop any fights with an unlimited time limit
# drop location data, it will not be used in this project

bout_df = bout_df[["fight_id","fighter_1", "fighter_2", "winner", "decision_method", "fight_duration_lastrnd", "fight_duration_lastrnd_time",
                 "time_format", "weight_class", "date"]]

In [96]:
bout_df["time_format"].unique()

array(['3 Rnd (5-5-5)', 'No Time Limit', '5 Rnd (5-5-5-5-5)',
       '1 Rnd (20)', '1 Rnd (15)', '1 Rnd + OT (12-3)', '1 Rnd (10)',
       '1 Rnd + 2OT (15-3-3)', '1 Rnd + 2OT (24-3-3)',
       '1 Rnd + OT (15-3)', '1 Rnd (18)', '1 Rnd + OT (27-3)',
       '1 Rnd + OT (30-3)', '1 Rnd + OT (30-5)', '1 Rnd + OT (31-5)',
       '1 Rnd (30)', '1 Rnd (12)', '2 Rnd (5-5)', '3 Rnd + OT (5-5-5-5)'],
      dtype=object)

In [97]:
bout_df = bout_df.drop(bout_df.index[bout_df["time_format"] != '3 Rnd (5-5-5)'])
bout_df

,fight_id,fighter_1,fighter_2,winner,decision_method,fight_duration_lastrnd,fight_duration_lastrnd_time,time_format,weight_class,date
0,d7cbe2f23d75afd1,Julio Arce,Hakeem Dawodu,Hakeem Dawodu,Decision - Split,3,5:00,3 Rnd (5-5-5),Featherweight Bout,"November 02, 2019"
1,f0418c2c989a5cde,Grigorii Popov,Davey Grant,Davey Grant,Decision - Split,3,5:00,3 Rnd (5-5-5),Bantamweight Bout,"November 09, 2019"
2,fc16ccf0994c6e50,Jack Shore,Nohelin Hernandez,Jack Shore,Submission,3,2:51,3 Rnd (5-5-5),Bantamweight Bout,"September 28, 2019"
3,18e1b0df8da7010e,Vanessa Melo,Tracy Cortez,Tracy Cortez,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Women's Bantamweight Bout,"November 16, 2019"
4,57ff0eb2351979c4,Khalid Taha,Bruno Silva,Khalid Taha,Submission,3,3:00,3 Rnd (5-5-5),Bantamweight Bout,"October 05, 2019"
...,...,...,...,...,...,...,...,...,...,...
5438,953c89aa931082e4,Jose Quinonez,Carlos Huachin,Jose Quinonez,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Bantamweight Bout,"September 21, 2019"
5439,c163ed45c21c8548,Irene Aldana,Vanessa Melo,Irene Aldana,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Women's Bantamweight Bout,"September 21, 2019"
5440,49b2a6a93d529981,Martin Bravo,Steven Peterson,Steven Peterson,KO/TKO,2,1:31,3 Rnd (5-5-5),Featherweight Bout,"September 21, 2019"
5441,fd3e8f61d8fda839,Brandon Moreno,Askar Askarov,Draw,Decision - Split,3,5:00,3 Rnd (5-5-5),Flyweight Bout,"September 21, 2019"
5442,b2cdb4c34f37ad37,Carla Esparza,Alexa Grasso,Carla Esparza,Decision - Majority,3,5:00,3 Rnd (5-5-5),Women's Strawweight Bout,"September 21, 2019"

In [98]:
new = bout_df["fight_duration_lastrnd_time"].str.split(":")

In [99]:
bout_df["fight_max_length"] = dt.timedelta(minutes=5) * bout_df["fight_duration_lastrnd"]

In [100]:
bout_end_times = []

for i in new:
    end_time = dt.timedelta(minutes=int(i[0]), seconds=int(i[1]))
    bout_end_times.append(end_time)
    
bout_df["bout_end_time"] = bout_end_times

In [101]:
fight_length = []

for i in bout_df["bout_end_time"]:
    j = 0
    if i == dt.timedelta(minutes=5):
        bout_length = bout_df["fight_max_length"][j].total_seconds()/60
        j = j + 1
        
    else:
        bout_length = bout_df["fight_max_length"][j] - i
        bout_length = bout_length.total_seconds()/60
        j = j + 1
    
    fight_length.append(bout_length)
    
bout_df["fight_length_min"] = fight_length

In [102]:
bout_df = bout_df.drop("fight_max_length", axis = 1)
bout_df = bout_df.drop("bout_end_time", axis=1)

In [103]:
new = bout_df["date"].str.split(",")    
years = []

for i in new:
    year = i[1]
    years.append(year)
    
bout_df["date"] = years

In [104]:
bout_df = bout_df.drop(["fighter_1", "fighter_2"], axis = 1)
bout_df

,fight_id,winner,decision_method,fight_duration_lastrnd,fight_duration_lastrnd_time,time_format,weight_class,date,fight_length_min
0,d7cbe2f23d75afd1,Hakeem Dawodu,Decision - Split,3,5:00,3 Rnd (5-5-5),Featherweight Bout,2019,15.000000
1,f0418c2c989a5cde,Davey Grant,Decision - Split,3,5:00,3 Rnd (5-5-5),Bantamweight Bout,2019,15.000000
2,fc16ccf0994c6e50,Jack Shore,Submission,3,2:51,3 Rnd (5-5-5),Bantamweight Bout,2019,12.150000
3,18e1b0df8da7010e,Tracy Cortez,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Women's Bantamweight Bout,2019,15.000000
4,57ff0eb2351979c4,Khalid Taha,Submission,3,3:00,3 Rnd (5-5-5),Bantamweight Bout,2019,12.000000
...,...,...,...,...,...,...,...,...,...
5438,953c89aa931082e4,Jose Quinonez,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Bantamweight Bout,2019,15.000000
5439,c163ed45c21c8548,Irene Aldana,Decision - Unanimous,3,5:00,3 Rnd (5-5-5),Women's Bantamweight Bout,2019,15.000000
5440,49b2a6a93d529981,Steven Peterson,KO/TKO,2,1:31,3 Rnd (5-5-5),Featherweight Bout,2019,13.483333
5441,fd3e8f61d8fda839,Draw,Decision - Split,3,5:00,3 Rnd (5-5-5),Flyweight Bout,2019,15.000000
5442,b2cdb4c34f37ad37,Carla Esparza,Decision - Majority,3,5:00,3 Rnd (5-5-5),Women's Strawweight Bout,2019,15.000000

In [105]:
fighter_df = pd.read_csv(fighter_csv)
fighter_df

,dob,fighter_id,height,n_draw,n_loss,n_win,name,reach,sig_str_abs_pM,sig_str_def_pct,sig_str_land_pM,sig_str_land_pct,stance,sub_avg,td_avg,td_def_pct,td_land_pct,weight
0,"Mar 02, 1992",2af2f2e26c4c0402,"5' 8""",0,0,8,Hunter Azure,"69""",1.57,0.56,4.00,0.50,Orthodox,2.5,2.00,0.75,0.33,135 lbs.
1,"Jul 27, 1986",f72465a784c1b084,"5' 6""",0,7,14,Jessica Eye,"66""",3.36,0.60,3.51,0.36,Orthodox,0.7,0.51,0.56,0.50,125 lbs.
2,"Aug 11, 1990",55ed59d541f8b90c,"5' 8""",1,7,9,Rolando Dy,"69""",4.47,0.52,3.04,0.37,Orthodox,0.0,0.30,0.68,0.20,145 lbs.
3,"Feb 07, 1989",44a94bbde42246e4,"5' 9""",0,3,7,Gleidson Cutis,--,8.28,0.59,2.99,0.52,Orthodox,0.0,0.00,0.00,0.00,155 lbs.
4,"Dec 25, 1984",d024ed963e8bf7ea,"5' 10""",0,12,17,Damien Brown,"68""",4.86,0.50,3.66,0.38,Orthodox,0.7,0.68,0.53,0.27,155 lbs.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3391,"Jul 12, 1972",6014d25e73b669c9,"5' 11""",10,27,40,Keiichiro Yamamiya,--,0.00,0.00,0.00,0.00,Southpaw,0.0,0.00,0.00,0.00,185 lbs.
3392,"Jul 18, 1984",d06f8869449ba7bd,"6' 3""",1,9,24,Alexander Yakovlev,"74""",2.44,0.58,1.79,0.47,Southpaw,0.2,1.56,0.72,0.33,155 lbs.
3393,"Sep 12, 1984",94527830000ab715,"5' 6""",0,10,26,Rani Yahya,"67""",1.61,0.52,1.59,0.36,Orthodox,2.1,2.92,0.22,0.32,135 lbs.
3394,"Mar 23, 1979",cc84b68f862b466f,"5' 7""",1,5,16,Eddie Yagin,--,5.77,0.42,3.13,0.30,Orthodox,1.0,0.00,0.62,0.00,145 lbs.
3395,"Nov 29, 1983",85248da6e9e2f7e7,"6' 1""",0,2,5,Jamie Yager,--,2.55,0.63,3.08,0.39,Orthodox,0.0,0.00,0.66,0.00,185 lbs.

In [106]:
## List of transformations to be performed

# remove fighter_id column, we need to use the index as the fighter id when dropping into postgresSql
# convert DOB column into datetime format for ease of use in later calculations
# create a total fights column which adds draws/losses/wins for a total
# check for duplicate fighter names and drop the fighter with the lowest number of total fights (more fights means more data for their stats)
# drop any fighter with null values or zeroes in the sig_str_abs_PM and other columns, zeroes or nulls here would indicate they have no fight data
# add a weightclass column alongside fighter weight
# check for null values in stance column and replace with "Orthodox", fighters with no stance will be assumed for now (i.e. right handed)

In [107]:
fighter_df = fighter_df.drop("fighter_id", axis=1)

In [108]:
fighter_df["total_fights"] = fighter_df["n_draw"] + fighter_df["n_loss"] + fighter_df["n_win"]

In [109]:
fighter_df = fighter_df.dropna(subset=['sig_str_abs_pM', 'sig_str_def_pct', 'sig_str_land_pM', 'sig_str_land_pct','dob'])

In [110]:
fighter_df = fighter_df.drop((fighter_df.index[fighter_df["dob"] == '--']))

In [111]:
fighter_df = fighter_df.drop((fighter_df.index[fighter_df["sig_str_abs_pM"] == 0]))

In [112]:
fighter_df = fighter_df.reset_index(drop=True)

In [113]:
new = fighter_df["dob"].str.split(",")    
years = []

for i in new:
    year = i[1]
    years.append(year)
    
fighter_df['dob'] = years

In [114]:
fighter_df

,dob,height,n_draw,n_loss,n_win,name,reach,sig_str_abs_pM,sig_str_def_pct,sig_str_land_pM,sig_str_land_pct,stance,sub_avg,td_avg,td_def_pct,td_land_pct,weight,total_fights
0,1992,"5' 8""",0,0,8,Hunter Azure,"69""",1.57,0.56,4.00,0.50,Orthodox,2.5,2.00,0.75,0.33,135 lbs.,8
1,1986,"5' 6""",0,7,14,Jessica Eye,"66""",3.36,0.60,3.51,0.36,Orthodox,0.7,0.51,0.56,0.50,125 lbs.,21
2,1990,"5' 8""",1,7,9,Rolando Dy,"69""",4.47,0.52,3.04,0.37,Orthodox,0.0,0.30,0.68,0.20,145 lbs.,17
3,1989,"5' 9""",0,3,7,Gleidson Cutis,--,8.28,0.59,2.99,0.52,Orthodox,0.0,0.00,0.00,0.00,155 lbs.,10
4,1984,"5' 10""",0,12,17,Damien Brown,"68""",4.86,0.50,3.66,0.38,Orthodox,0.7,0.68,0.53,0.27,155 lbs.,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2418,1989,"5' 5""",0,1,11,Xiaonan Yan,"63""",4.22,0.64,6.85,0.40,Orthodox,0.0,0.25,0.66,0.50,115 lbs.,12
2419,1984,"6' 3""",1,9,24,Alexander Yakovlev,"74""",2.44,0.58,1.79,0.47,Southpaw,0.2,1.56,0.72,0.33,155 lbs.,34
2420,1984,"5' 6""",0,10,26,Rani Yahya,"67""",1.61,0.52,1.59,0.36,Orthodox,2.1,2.92,0.22,0.32,135 lbs.,36
2421,1979,"5' 7""",1,5,16,Eddie Yagin,--,5.77,0.42,3.13,0.30,Orthodox,1.0,0.00,0.62,0.00,145 lbs.,22
2422,1983,"6' 1""",0,2,5,Jamie Yager,--,2.55,0.63,3.08,0.39,Orthodox,0.0,0.00,0.66,0.00,185 lbs.,7

In [115]:
fighter_df["dob"] = fighter_df["dob"].astype('int')
new = fighter_df["reach"].str.split('"')
reach = []
for i in new:
    x = i[0]
    reach.append(x)
fighter_df["reach"] = reach

fighter_df = fighter_df.replace({"stance": "--", "stance": "switch", "stance": "Sideways"}, "Orthodox")
fighter_df = fighter_df.replace({"stance": "Open Stance"}, "Southpaw")
fighter_df = fighter_df.replace({"stance": "Switch"}, "Orthodox")
values = {"stance": "Orthodox"}
fighter_df = fighter_df.fillna(value = values)

fighter_df = fighter_df.replace({"height": "--"}, "")
fighter_df = fighter_df.replace({"reach": "--"}, "")

In [116]:
fighter_df = fighter_df.drop_duplicates(subset=["name"])
fighter_df = fighter_df.reset_index(drop=True)

In [117]:
bout_detail_df = pd.read_json('bout_data.jl', lines =True)
bout_detail_df = bout_detail_df.dropna(how = 'any')
bout_detail_df

,fight_id,fighter_id,fighter_name,fighter_status,kd,n_pass,n_rev,n_sub,sig_str_abs,sig_str_att,...,distance_def,distance_land,clinch_abs,clinch_att,clinch_def,clinch_land,ground_abs,ground_att,ground_def,ground_land
0,d7cbe2f23d75afd1,"[1291edf2d566a71a, 2c9d00968f818270]","[Julio Arce, Hakeem Dawodu]","[L, W]","[0, 0]","[2, 0]","[0, 1]","[0, 0]","[55, 32]","[124, 139]",...,"[81, 88]","[28, 40]","[11, 4]","[8, 14]","[3, 4]","[4, 11]","[4, 0]","[0, 4]","[0, 0]","[0, 4]"
1,f0418c2c989a5cde,"[d3fa5c5955397532, 113df4fde64735c6]","[Grigorii Popov, Davey Grant]","[L, W]","[0, 0]","[1, 2]","[2, 1]","[0, 0]","[30, 35]","[88, 63]",...,"[25, 40]","[25, 27]","[0, 4]","[5, 2]","[2, 1]","[4, 0]","[3, 6]","[18, 9]","[6, 12]","[6, 3]"
2,fc16ccf0994c6e50,"[b8a85389d115e35a, f97c5433c77522d3]","[Jack Shore, Nohelin Hernandez]","[W, L]","[0, 0]","[11, 0]","[0, 1]","[1, 0]","[6, 46]","[92, 36]",...,"[28, 32]","[26, 4]","[2, 3]","[4, 4]","[2, 1]","[3, 2]","[0, 17]","[30, 0]","[0, 13]","[17, 0]"
3,18e1b0df8da7010e,"[9b7dfb3b7d99926a, 68d4a891e5cf2029]","[Vanessa Melo, Tracy Cortez]","[L, W]","[0, 0]","[0, 1]","[0, 0]","[0, 0]","[79, 40]","[125, 140]",...,"[57, 85]","[32, 46]","[12, 6]","[6, 12]","[0, 0]","[6, 12]","[21, 2]","[2, 25]","[4, 0]","[2, 21]"
4,57ff0eb2351979c4,"[b4537562f88ac582, 294aa73dbf37d281]","[Khalid Taha, Bruno Silva]","[W, L]","[1, 0]","[1, 1]","[0, 0]","[1, 0]","[20, 38]","[88, 50]",...,"[21, 43]","[19, 10]","[1, 6]","[7, 1]","[0, 1]","[6, 1]","[9, 13]","[19, 18]","[9, 6]","[13, 9]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5438,953c89aa931082e4,"[36549928f90f1d36, 225def29ecfe0fc1]","[Jose Quinonez, Carlos Huachin]","[W, L]","[1, 0]","[2, 0]","[0, 0]","[0, 0]","[32, 60]","[117, 115]",...,"[79, 52]","[40, 30]","[0, 0]","[1, 2]","[2, 1]","[0, 0]","[2, 20]","[24, 4]","[2, 4]","[20, 2]"
5439,c163ed45c21c8548,"[578ef12674df1e6a, 9b7dfb3b7d99926a]","[Irene Aldana, Vanessa Melo]","[W, L]","[0, 0]","[0, 0]","[0, 0]","[0, 0]","[68, 125]","[333, 250]",...,"[182, 208]","[124, 68]","[0, 1]","[1, 0]","[0, 0]","[1, 0]","[0, 0]","[0, 0]","[0, 0]","[0, 0]"
5440,49b2a6a93d529981,"[9c44f290f5726d95, b93c06d09d1c4ac0]","[Martin Bravo, Steven Peterson]","[L, W]","[0, 1]","[0, 0]","[0, 0]","[0, 0]","[49, 86]","[199, 105]",...,"[52, 113]","[85, 46]","[1, 1]","[1, 2]","[1, 0]","[1, 1]","[2, 0]","[0, 5]","[3, 0]","[0, 2]"
5441,fd3e8f61d8fda839,"[792be9a24df82ed6, b1d19449397541dc]","[Brandon Moreno, Askar Askarov]","[D, D]","[1, 0]","[1, 4]","[1, 1]","[0, 0]","[30, 34]","[82, 63]",...,"[30, 37]","[18, 9]","[4, 2]","[2, 4]","[0, 0]","[2, 4]","[17, 14]","[25, 20]","[3, 11]","[14, 17]"
5442,b2cdb4c34f37ad37,"[d910665038efc639, e8b731feff72294b]","[Carla Esparza, Alexa Grasso]","[W, L]","[0, 0]","[1, 0]","[1, 1]","[0, 1]","[45, 44]","[80, 103]",...,"[54, 31]","[28, 34]","[3, 6]","[9, 6]","[3, 3]","[6, 3]","[8, 10]","[12, 9]","[1, 2]","[10, 8]"

In [118]:
## Transformations required

# identify unneccessary columns i.e remove
# 'fighter_id', 'n_pass', 'n_rev', 'total_strike_def', 'td_abs', 'td_def', 'head_abs', 'head_att', 'head_def','head_abs',
#       'head_att', 'head_def', 'head_land', 'body_abs', 'body_att', 'body_def',
#      'body_land', 'leg_abs', 'leg_att', 'leg_def', 'leg_land',
#       'distance_abs', 'distance_att', 'distance_def', 'distance_land',
#       'clinch_abs', 'clinch_att', 'clinch_def', 'clinch_land', 'ground_abs',
#       'ground_att', 'ground_def', 'ground_land' 
# spearate doubled up columns and break into fighter_1, fighter_2 columns for each, create a new dataframe for this to preserve raw data
# after new dataframe is created, further manipulation is required after joining the dataframe with bout duration
# convert remaining striking columns into averages and percentages over the duration of the bout to align with fighter stats

In [119]:
bout_detail_df = bout_detail_df.drop(['fighter_id', 'n_pass', 'n_rev', 'td_abs', 'td_def', 'head_abs', 'head_att', 'head_def','head_abs',
       'head_att', 'head_def', 'head_land', 'body_abs', 'body_att', 'body_def',
      'body_land', 'leg_abs', 'leg_att', 'leg_def', 'leg_land',
       'distance_abs', 'distance_att', 'distance_def', 'distance_land',
       'clinch_abs', 'clinch_att', 'clinch_def', 'clinch_land', 'ground_abs',
      'ground_att', 'ground_def', 'ground_land'], axis = 1)

In [120]:
bout_detail_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5417 entries, 0 to 5442
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fight_id        5417 non-null   object
 1   fighter_name    5417 non-null   object
 2   fighter_status  5417 non-null   object
 3   kd              5417 non-null   object
 4   n_sub           5417 non-null   object
 5   sig_str_abs     5417 non-null   object
 6   sig_str_att     5417 non-null   object
 7   sig_str_def     5417 non-null   object
 8   sig_str_land    5417 non-null   object
 9   total_str_abs   5417 non-null   object
 10  total_str_att   5417 non-null   object
 11  total_str_def   5417 non-null   object
 12  total_str_land  5417 non-null   object
 13  td_att          5417 non-null   object
 14  td_land         5417 non-null   object
dtypes: object(15)
memory usage: 677.1+ KB

In [121]:
fighter_1 = []
fighter_2 = []

fighter_1_kd = []
fighter_2_kd = []

fighter_1_nsub = []
fighter_2_nsub = []

fighter_1_sig_str_abs = []
fighter_2_sig_str_abs = []

fighter_1_sig_str_att =[]
fighter_2_sig_str_att =[]

fighter_1_sig_str_def = []
fighter_2_sig_str_def = []

fighter_1_sig_str_land = []
fighter_2_sig_str_land = []

fighter_1_tot_str_abs = []
fighter_2_tot_str_abs = []

fighter_1_tot_str_att = []
fighter_2_tot_str_att = []

fighter_1_tot_str_def = []
fighter_2_tot_str_def = []

fighter_1_tot_str_land = []
fighter_2_tot_str_land = []

fighter_1_td_att = []
fighter_2_td_att = []

fighter_1_td_land = []
fighter_2_td_land = []

In [122]:
new = bout_detail_df["fighter_name"]

for i in new:
    
    fighter_1_nm = i[0]
    fighter_2_nm = i[1]
    
    fighter_1.append(fighter_1_nm)
    fighter_2.append(fighter_2_nm)
    

    
for i in bout_detail_df["kd"].astype('string'):
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_kd.append(f1)
    fighter_2_kd.append(f2)
    
for i in bout_detail_df["n_sub"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])

    
    fighter_1_nsub.append(f1)
    fighter_2_nsub.append(f2)
    
for i in bout_detail_df["sig_str_abs"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_sig_str_abs.append(f1)
    fighter_2_sig_str_abs.append(f2)
    
for i in bout_detail_df["sig_str_att"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_sig_str_att.append(f1)
    fighter_2_sig_str_att.append(f2)
    
for i in bout_detail_df["sig_str_def"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_sig_str_def.append(f1)
    fighter_2_sig_str_def.append(f2)
    
for i in bout_detail_df["sig_str_land"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])

    
    fighter_1_sig_str_land.append(f1)
    fighter_2_sig_str_land.append(f2)
    
for i in bout_detail_df["total_str_abs"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_tot_str_abs.append(f1)
    fighter_2_tot_str_abs.append(f2)
    
for i in bout_detail_df["total_str_att"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_tot_str_att.append(f1)
    fighter_2_tot_str_att.append(f2)
    
for i in bout_detail_df["total_str_def"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])

    fighter_1_tot_str_def.append(f1)
    fighter_2_tot_str_def.append(f2)
    
for i in bout_detail_df["total_str_land"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])

    
    fighter_1_tot_str_land.append(f1)
    fighter_2_tot_str_land.append(f2)
    
for i in bout_detail_df["td_att"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_td_att.append(f1)
    fighter_2_td_att.append(f2)
    

    
for i in bout_detail_df["td_land"]:
    
    x = str(i)
    x = x.split(",")
    f1 = x[0]
    f1 = int((f1.split("["))[1])
    f2 = x[1]
    f2 = int((f2.split("]"))[0])
    
    fighter_1_td_land.append(f1)
    fighter_2_td_land.append(f2)

In [123]:
fight_id = bout_detail_df["fight_id"]
outcome = bout_detail_df["fighter_status"]

In [124]:
split_bout = pd.DataFrame({"fight_id": fight_id, 
                           "result": outcome, 
                           "fighter_1": fighter_1,
                           "fighter_1_kd": fighter_1_kd, 
                           "fighter_1_nsub": fighter_1_nsub,
                           "fighter_1_sig_abs": fighter_1_sig_str_abs,
                           "fighter_1_sig_att": fighter_1_sig_str_att,
                           "fighter_1_sig_def": fighter_1_sig_str_def,
                           "fighter_1_sig_land": fighter_1_sig_str_land,
                           "fighter_1_td_land": fighter_1_td_land, 
                           "fighter_1_td_att": fighter_1_td_att,
                           "fighter_2": fighter_2,
                           "fighter_2_kd": fighter_2_kd, 
                           "fighter_2_nsub": fighter_2_nsub,
                           "fighter_2_sig_abs": fighter_2_sig_str_abs,
                           "fighter_2_sig_att": fighter_2_sig_str_att,
                           "fighter_2_sig_def": fighter_2_sig_str_def,
                           "fighter_2_sig_land": fighter_2_sig_str_land,
                           "fighter_2_td_land": fighter_2_td_land, 
                           "fighter_2_td_att": fighter_2_td_att,
                          })

In [125]:
x = str(split_bout['result'][5441])
x

"['D', 'D']"

In [126]:
split_bout = split_bout.drop(split_bout.loc[split_bout['result'].astype('string')==x].index, inplace = False).reset_index(drop=True)

In [127]:
split_bout.tail()

,fight_id,result,fighter_1,fighter_1_kd,fighter_1_nsub,fighter_1_sig_abs,fighter_1_sig_att,fighter_1_sig_def,fighter_1_sig_land,fighter_1_td_land,fighter_1_td_att,fighter_2,fighter_2_kd,fighter_2_nsub,fighter_2_sig_abs,fighter_2_sig_att,fighter_2_sig_def,fighter_2_sig_land,fighter_2_td_land,fighter_2_td_att
5373,ad878cdd4fa36a3a,"[L, W]",Polo Reyes,0,0,12,10,4,6,0,0,Kyle Nelson,0,0,6,16,4,12,0,2
5374,953c89aa931082e4,"[W, L]",Jose Quinonez,1,0,32,117,83,60,2,5,Carlos Huachin,0,0,60,115,57,32,0,0
5375,c163ed45c21c8548,"[W, L]",Irene Aldana,0,0,68,333,182,125,0,0,Vanessa Melo,0,0,125,250,208,68,0,1
5376,49b2a6a93d529981,"[L, W]",Martin Bravo,0,0,49,199,56,86,2,5,Steven Peterson,1,0,86,105,113,49,0,0
5377,b2cdb4c34f37ad37,"[W, L]",Carla Esparza,0,0,45,80,58,44,4,11,Alexa Grasso,0,1,44,103,36,45,0,1

In [128]:
outcome = []
outcome_binary = []

# 1 in the outcome column means fighter 1 is the victor

for i in split_bout["result"].astype('string'):
    
    if i == "['W', 'L']":
        outcome.append("Winner-Fighter 1")
        outcome_binary.append(1)
    else:
        outcome.append("Winner-Fighter 2")
        outcome_binary.append(0)
len(outcome)
len(outcome_binary)

5378

In [129]:
split_bout["outcome"] = outcome
split_bout["outcome_binary"] = outcome_binary

In [130]:
joined_bout = split_bout.join(bout_df.set_index("fight_id"), how="inner", on="fight_id")
joined_bout["date"] = joined_bout["date"].astype("int")
joined_bout.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4723 entries, 0 to 5377
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   fight_id                     4723 non-null   object
 1   result                       4723 non-null   object
 2   fighter_1                    4723 non-null   object
 3   fighter_1_kd                 4723 non-null   int64
 4   fighter_1_nsub               4723 non-null   int64
 5   fighter_1_sig_abs            4723 non-null   int64
 6   fighter_1_sig_att            4723 non-null   int64
 7   fighter_1_sig_def            4723 non-null   int64
 8   fighter_1_sig_land           4723 non-null   int64
 9   fighter_1_td_land            4723 non-null   int64
 10  fighter_1_td_att             4723 non-null   int64
 11  fighter_2                    4723 non-null   object
 12  fighter_2_kd                 4723 non-null   int64
 13  fighter_2_nsub               4723 non-null   int64
 14  fighter_2_sig_abs            4723 non-null   int64
 15  fighter_2_sig_att            4723 non-null   int64
 16  fighter_2_sig_def            4723 non-null   int64
 17  fighter_2_sig_land           4723 non-null   int64
 18  fighter_2_td_land            4723 non-null   int64
 19  fighter_2_td_att             4723 non-null   int64
 20  outcome                      4723 non-null   object
 21  outcome_binary               4723 non-null   int64
 22  winner                       4723 non-null   object
 23  decision_method              4723 non-null   object
 24  fight_duration_lastrnd       4723 non-null   int64
 25  fight_duration_lastrnd_time  4723 non-null   object
 26  time_format                  4723 non-null   object
 27  weight_class                 4723 non-null   object
 28  date                         4723 non-null   int32
 29  fight_length_min             4723 non-null   float64
dtypes: float64(1), int32(1), int64(18), object(10)
memory usage: 1.1+ MB

In [131]:
joined_bout["fighter_1_sub_avg"] = joined_bout["fighter_1_nsub"]/joined_bout["fight_length_min"]
joined_bout["fighter_1_SLpM"] = joined_bout["fighter_1_sig_abs"]/joined_bout["fight_length_min"]
joined_bout["fighter_1_str_acc"] = joined_bout["fighter_1_sig_land"]/joined_bout["fighter_1_sig_att"]
joined_bout["fighter_1_SApM"] = joined_bout["fighter_1_sig_abs"]/joined_bout["fight_length_min"]
joined_bout["fighter_1_str_def"] = joined_bout["fighter_1_sig_def"]/joined_bout["fighter_2_sig_att"]
joined_bout["fighter_1_td_avg"] = joined_bout["fighter_1_td_land"]/joined_bout["fight_length_min"]
joined_bout["fighter_1_td_acc"] = joined_bout["fighter_1_td_land"]/joined_bout["fighter_1_td_att"]

joined_bout["fighter_2_sub_avg"] = joined_bout["fighter_2_nsub"]/joined_bout["fight_length_min"]
joined_bout["fighter_2_SLpM"] = joined_bout["fighter_2_sig_abs"]/joined_bout["fight_length_min"]
joined_bout["fighter_2_str_acc"] = joined_bout["fighter_2_sig_land"]/joined_bout["fighter_2_sig_att"]
joined_bout["fighter_2_SApM"] = joined_bout["fighter_2_sig_abs"]/joined_bout["fight_length_min"]
joined_bout["fighter_2_str_def"] = joined_bout["fighter_2_sig_def"]/joined_bout["fighter_1_sig_att"]
joined_bout["fighter_2_td_avg"] = joined_bout["fighter_2_td_land"]/joined_bout["fight_length_min"]
joined_bout["fighter_2_td_acc"] = joined_bout["fighter_2_td_land"]/joined_bout["fighter_2_td_att"]


joined_bout

,fight_id,result,fighter_1,fighter_1_kd,fighter_1_nsub,fighter_1_sig_abs,fighter_1_sig_att,fighter_1_sig_def,fighter_1_sig_land,fighter_1_td_land,...,fighter_1_str_def,fighter_1_td_avg,fighter_1_td_acc,fighter_2_sub_avg,fighter_2_SLpM,fighter_2_str_acc,fighter_2_SApM,fighter_2_str_def,fighter_2_td_avg,fighter_2_td_acc
0,d7cbe2f23d75afd1,"[L, W]",Julio Arce,0,0,55,124,84,32,1,...,0.604317,0.066667,0.333333,0.000000,2.133333,0.395683,2.133333,0.741935,0.000000,NaN
1,f0418c2c989a5cde,"[L, W]",Grigorii Popov,0,0,30,88,33,35,0,...,0.523810,0.000000,NaN,0.000000,2.333333,0.476190,2.333333,0.602273,0.400000,0.666667
2,fc16ccf0994c6e50,"[W, L]",Jack Shore,0,1,6,92,30,46,4,...,0.833333,0.329218,0.571429,0.000000,3.786008,0.166667,3.786008,0.500000,0.000000,NaN
3,18e1b0df8da7010e,"[L, W]",Vanessa Melo,0,0,79,125,61,40,0,...,0.435714,0.000000,NaN,0.000000,2.666667,0.564286,2.666667,0.680000,0.133333,0.222222
4,57ff0eb2351979c4,"[W, L]",Khalid Taha,1,1,20,88,30,38,0,...,0.600000,0.000000,0.000000,0.000000,3.166667,0.400000,3.166667,0.568182,0.166667,0.181818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5373,ad878cdd4fa36a3a,"[L, W]",Polo Reyes,0,0,12,10,4,6,0,...,0.250000,0.000000,NaN,0.000000,0.447761,0.750000,0.447761,0.400000,0.000000,0.000000
5374,953c89aa931082e4,"[W, L]",Jose Quinonez,1,0,32,117,83,60,2,...,0.721739,0.133333,0.400000,0.000000,4.000000,0.278261,4.000000,0.487179,0.000000,NaN
5375,c163ed45c21c8548,"[W, L]",Irene Aldana,0,0,68,333,182,125,0,...,0.728000,0.000000,NaN,0.000000,8.333333,0.272000,8.333333,0.624625,0.000000,0.000000
5376,49b2a6a93d529981,"[L, W]",Martin Bravo,0,0,49,199,56,86,2,...,0.533333,0.148331,0.400000,0.000000,6.378245,0.466667,6.378245,0.567839,0.000000,NaN
5377,b2cdb4c34f37ad37,"[W, L]",Carla Esparza,0,0,45,80,58,44,4,...,0.563107,0.266667,0.363636,0.066667,2.933333,0.436893,2.933333,0.450000,0.000000,0.000000

In [132]:
data_df = joined_bout[[
    "fighter_1_SLpM",
    "fighter_1_str_acc",
    "fighter_1_SApM",
    "fighter_1_str_def",
    "fighter_1_td_avg",
    "fighter_1_td_acc",
    "fighter_1_sub_avg",
    "fighter_2_SLpM",
    "fighter_2_str_acc",
    "fighter_2_SApM",
    "fighter_2_str_def",
    "fighter_2_td_avg",
    "fighter_2_td_acc",
    "fighter_2_sub_avg",
    "outcome",
    "outcome_binary"
]]

In [133]:
data_df

,fighter_1_SLpM,fighter_1_str_acc,fighter_1_SApM,fighter_1_str_def,fighter_1_td_avg,fighter_1_td_acc,fighter_1_sub_avg,fighter_2_SLpM,fighter_2_str_acc,fighter_2_SApM,fighter_2_str_def,fighter_2_td_avg,fighter_2_td_acc,fighter_2_sub_avg,outcome,outcome_binary
0,3.666667,0.258065,3.666667,0.604317,0.066667,0.333333,0.000000,2.133333,0.395683,2.133333,0.741935,0.000000,NaN,0.000000,Winner-Fighter 2,0
1,2.000000,0.397727,2.000000,0.523810,0.000000,NaN,0.000000,2.333333,0.476190,2.333333,0.602273,0.400000,0.666667,0.000000,Winner-Fighter 2,0
2,0.493827,0.500000,0.493827,0.833333,0.329218,0.571429,0.082305,3.786008,0.166667,3.786008,0.500000,0.000000,NaN,0.000000,Winner-Fighter 1,1
3,5.266667,0.320000,5.266667,0.435714,0.000000,NaN,0.000000,2.666667,0.564286,2.666667,0.680000,0.133333,0.222222,0.000000,Winner-Fighter 2,0
4,1.666667,0.431818,1.666667,0.600000,0.000000,0.000000,0.083333,3.166667,0.400000,3.166667,0.568182,0.166667,0.181818,0.000000,Winner-Fighter 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5373,0.895522,0.600000,0.895522,0.250000,0.000000,NaN,0.000000,0.447761,0.750000,0.447761,0.400000,0.000000,0.000000,0.000000,Winner-Fighter 2,0
5374,2.133333,0.512821,2.133333,0.721739,0.133333,0.400000,0.000000,4.000000,0.278261,4.000000,0.487179,0.000000,NaN,0.000000,Winner-Fighter 1,1
5375,4.533333,0.375375,4.533333,0.728000,0.000000,NaN,0.000000,8.333333,0.272000,8.333333,0.624625,0.000000,0.000000,0.000000,Winner-Fighter 1,1
5376,3.634116,0.432161,3.634116,0.533333,0.148331,0.400000,0.000000,6.378245,0.466667,6.378245,0.567839,0.000000,NaN,0.000000,Winner-Fighter 2,0
5377,3.000000,0.550000,3.000000,0.563107,0.266667,0.363636,0.000000,2.933333,0.436893,2.933333,0.450000,0.000000,0.000000,0.066667,Winner-Fighter 1,1

In [134]:
data_df = data_df.dropna(how="any", inplace=False).reset_index(drop=True)

In [135]:
fighter_df = fighter_df.reset_index(drop=True)

In [136]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
engine = create_engine('postgresql+psycopg2://postgres:cdw@localhost/ufc')
session = Session(engine)

In [137]:
joined_bout.to_sql('joined_fight', con=engine, if_exists='append',index=False)

In [138]:
fighter_df.to_sql('fighters', con=engine, if_exists='append', index=True)

In [139]:
data_df.to_sql('model_data', con=engine, if_exists='append', index = False)

In [140]:
## Data pre-processing for the model

In [141]:
X = data_df.drop(["outcome", "outcome_binary"], axis=1)
y = data_df["outcome"]
print(X.shape, y.shape)

(2087, 14) (2087,)

In [142]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [143]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [144]:
X_scaler = MinMaxScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)

X_test_scaled = X_scaler.transform(X_test)

In [145]:
label_encoder = LabelEncoder()

label_encoder.fit(y_train)

encoded_y_train = label_encoder.transform(y_train)

encoded_y_test = label_encoder.transform(y_test)

In [146]:
y_train_categorical = to_categorical(encoded_y_train)

y_test_categorical = to_categorical(encoded_y_test)

In [147]:
# Create Deep-Learning Model

In [148]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [149]:
model = Sequential()

model.add(Dense(units=100, activation='relu', input_dim=14))

#model.add(Dense(units=100, activation='relu'))

model.add(Dense(units=100, activation='relu'))

model.add(Dense(units=2, activation='softmax'))

In [150]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [151]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               1500
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 2)                 202
=================================================================
Total params: 11,802
Trainable params: 11,802
Non-trainable params: 0
_________________________________________________________________

In [214]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Train on 1565 samples
Epoch 1/100
1565/1565 - 0s - loss: 0.5757 - accuracy: 0.6895
Epoch 2/100
1565/1565 - 0s - loss: 0.4817 - accuracy: 0.7687
Epoch 3/100
1565/1565 - 0s - loss: 0.4479 - accuracy: 0.7955
Epoch 4/100
1565/1565 - 0s - loss: 0.4284 - accuracy: 0.8096
Epoch 5/100
1565/1565 - 0s - loss: 0.4259 - accuracy: 0.8089
Epoch 6/100
1565/1565 - 0s - loss: 0.4226 - accuracy: 0.8192
Epoch 7/100
1565/1565 - 0s - loss: 0.4178 - accuracy: 0.8160
Epoch 8/100
1565/1565 - 0s - loss: 0.4164 - accuracy: 0.8115
Epoch 9/100
1565/1565 - 0s - loss: 0.4121 - accuracy: 0.8204
Epoch 10/100
1565/1565 - 0s - loss: 0.4071 - accuracy: 0.8173
Epoch 11/100
1565/1565 - 0s - loss: 0.4127 - accuracy: 0.8153
Epoch 12/100
1565/1565 - 0s - loss: 0.4075 - accuracy: 0.8217
Epoch 13/100
1565/1565 - 0s - loss: 0.4136 - accuracy: 0.8153
Epoch 14/100
1565/1565 - 0s - loss: 0.4025 - accuracy: 0.8230
Epoch 15/100
1565/1565 - 0s - loss: 0.4064 - accuracy: 0.8173
Epoch 16/100
1565/1565 - 0s - loss: 0.4004 - accuracy: 0.8262
Epoch 17/100
1565/1565 - 0s - loss: 0.4063 - accuracy: 0.8249
Epoch 18/100
1565/1565 - 0s - loss: 0.4027 - accuracy: 0.8230
Epoch 19/100
1565/1565 - 0s - loss: 0.3998 - accuracy: 0.8256
Epoch 20/100
1565/1565 - 0s - loss: 0.3950 - accuracy: 0.8294
Epoch 21/100
1565/1565 - 0s - loss: 0.3920 - accuracy: 0.8230
Epoch 22/100
1565/1565 - 0s - loss: 0.3899 - accuracy: 0.8204
Epoch 23/100
1565/1565 - 0s - loss: 0.3899 - accuracy: 0.8268
Epoch 24/100
1565/1565 - 0s - loss: 0.3985 - accuracy: 0.8275
Epoch 25/100
1565/1565 - 0s - loss: 0.3949 - accuracy: 0.8268
Epoch 26/100
1565/1565 - 0s - loss: 0.3884 - accuracy: 0.8236
Epoch 27/100
1565/1565 - 0s - loss: 0.3826 - accuracy: 0.8300
Epoch 28/100
1565/1565 - 0s - loss: 0.3821 - accuracy: 0.8326
Epoch 29/100
1565/1565 - 0s - loss: 0.3838 - accuracy: 0.8262
Epoch 30/100
1565/1565 - 0s - loss: 0.3832 - accuracy: 0.8281
Epoch 31/100
1565/1565 - 0s - loss: 0.3814 - accuracy: 0.8300
Epoch 32/100
1565/1565 - 0s - loss: 0.3780 - accuracy: 0.8326
Epoch 33/100
1565/1565 - 0s - loss: 0.3841 - accuracy: 0.8204
Epoch 34/100
1565/1565 - 0s - loss: 0.3759 - accuracy: 0.8294
Epoch 35/100
1565/1565 - 0s - loss: 0.3785 - accuracy: 0.8358
Epoch 36/100
1565/1565 - 0s - loss: 0.3728 - accuracy: 0.8300
Epoch 37/100
1565/1565 - 0s - loss: 0.3850 - accuracy: 0.8262
Epoch 38/100
1565/1565 - 0s - loss: 0.3769 - accuracy: 0.8249
Epoch 39/100
1565/1565 - 0s - loss: 0.3701 - accuracy: 0.8351
Epoch 40/100
1565/1565 - 0s - loss: 0.3752 - accuracy: 0.8371
Epoch 41/100
1565/1565 - 0s - loss: 0.3658 - accuracy: 0.8313
Epoch 42/100
1565/1565 - 0s - loss: 0.3662 - accuracy: 0.8345
Epoch 43/100
1565/1565 - 0s - loss: 0.3683 - accuracy: 0.8441
Epoch 44/100
1565/1565 - 0s - loss: 0.3667 - accuracy: 0.8351
Epoch 45/100
1565/1565 - 0s - loss: 0.3601 - accuracy: 0.8390
Epoch 46/100
1565/1565 - 0s - loss: 0.3729 - accuracy: 0.8300
Epoch 47/100
1565/1565 - 0s - loss: 0.3640 - accuracy: 0.8383
Epoch 48/100
1565/1565 - 0s - loss: 0.3572 - accuracy: 0.8435
Epoch 49/100
1565/1565 - 0s - loss: 0.3601 - accuracy: 0.8345
Epoch 50/100
1565/1565 - 0s - loss: 0.3534 - accuracy: 0.8435
Epoch 51/100
1565/1565 - 0s - loss: 0.3605 - accuracy: 0.8326
Epoch 52/100
1565/1565 - 0s - loss: 0.3584 - accuracy: 0.8339
Epoch 53/100
1565/1565 - 0s - loss: 0.3557 - accuracy: 0.8403
Epoch 54/100
1565/1565 - 0s - loss: 0.3504 - accuracy: 0.8396
Epoch 55/100
1565/1565 - 0s - loss: 0.3528 - accuracy: 0.8473
Epoch 56/100
1565/1565 - 0s - loss: 0.3540 - accuracy: 0.8415
Epoch 57/100
1565/1565 - 0s - loss: 0.3596 - accuracy: 0.8332
Epoch 58/100
1565/1565 - 0s - loss: 0.3484 - accuracy: 0.8409
Epoch 59/100
1565/1565 - 0s - loss: 0.3454 - accuracy: 0.8396
Epoch 60/100
1565/1565 - 0s - loss: 0.3480 - accuracy: 0.8415
Epoch 61/100
1565/1565 - 0s - loss: 0.3442 - accuracy: 0.8435
Epoch 62/100
1565/1565 - 0s - loss: 0.3437 - accuracy: 0.8441
Epoch 63/100
1565/1565 - 0s - loss: 0.3463 - accuracy: 0.8454
Epoch 64/100
1565/1565 - 0s - loss: 0.3427 - accuracy: 0.8435
Epoch 65/100
1565/1565 - 0s - loss: 0.3392 - accuracy: 0.8473
Epoch 66/100
1565/1565 - 0s - loss: 0.3439 - accuracy: 0.8479
Epoch 67/100
1565/1565 - 0s - loss: 0.3405 - accuracy: 0.8435
Epoch 68/100
1565/1565 - 0s - loss: 0.3356 - accuracy: 0.8486
Epoch 69/100
1565/1565 - 0s - loss: 0.3373 - accuracy: 0.8390
Epoch 70/100
1565/1565 - 0s - loss: 0.3378 - accuracy: 0.8422
Epoch 71/100
1565/1565 - 0s - loss: 0.3345 - accuracy: 0.8473
Epoch 72/100
1565/1565 - 0s - loss: 0.3357 - accuracy: 0.8486
Epoch 73/100
1565/1565 - 0s - loss: 0.3281 - accuracy: 0.8511
Epoch 74/100
1565/1565 - 0s - loss: 0.3296 - accuracy: 0.8588
Epoch 75/100
1565/1565 - 0s - loss: 0.3317 - accuracy: 0.8511
Epoch 76/100
1565/1565 - 0s - loss: 0.3354 - accuracy: 0.8435
Epoch 77/100
1565/1565 - 0s - loss: 0.3229 - accuracy: 0.8575
Epoch 78/100
1565/1565 - 0s - loss: 0.3246 - accuracy: 0.8486
Epoch 79/100
1565/1565 - 0s - loss: 0.3267 - accuracy: 0.8486
Epoch 80/100
1565/1565 - 0s - loss: 0.3245 - accuracy: 0.8537
Epoch 81/100
1565/1565 - 0s - loss: 0.3192 - accuracy: 0.8543
Epoch 82/100
1565/1565 - 0s - loss: 0.3160 - accuracy: 0.8607
Epoch 83/100
1565/1565 - 0s - loss: 0.3289 - accuracy: 0.8492
Epoch 84/100
1565/1565 - 0s - loss: 0.3182 - accuracy: 0.8530
Epoch 85/100
1565/1565 - 0s - loss: 0.3166 - accuracy: 0.8518
Epoch 86/100
1565/1565 - 0s - loss: 0.3180 - accuracy: 0.8550
Epoch 87/100
1565/1565 - 0s - loss: 0.3160 - accuracy: 0.8562
Epoch 88/100
1565/1565 - 0s - loss: 0.3103 - accuracy: 0.8581
Epoch 89/100
1565/1565 - 0s - loss: 0.3191 - accuracy: 0.8550
Epoch 90/100
1565/1565 - 0s - loss: 0.3138 - accuracy: 0.8594
Epoch 91/100
1565/1565 - 0s - loss: 0.3167 - accuracy: 0.8645
Epoch 92/100
1565/1565 - 0s - loss: 0.3219 - accuracy: 0.8556
Epoch 93/100
1565/1565 - 0s - loss: 0.3074 - accuracy: 0.8575
Epoch 94/100
1565/1565 - 0s - loss: 0.3009 - accuracy: 0.8645
Epoch 95/100
1565/1565 - 0s - loss: 0.3119 - accuracy: 0.8581
Epoch 96/100
1565/1565 - 0s - loss: 0.3095 - accuracy: 0.8607
Epoch 97/100
1565/1565 - 0s - loss: 0.3083 - accuracy: 0.8530
Epoch 98/100
1565/1565 - 0s - loss: 0.3070 - accuracy: 0.8594
Epoch 99/100
1565/1565 - 0s - loss: 0.3100 - accuracy: 0.8562
Epoch 100/100
1565/1565 - 0s - loss: 0.3015 - accuracy: 0.8613

In [215]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)

print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

522/522 - 0s - loss: 0.4372 - accuracy: 0.8257
Normal Neural Network - Loss: 0.43721645876365606, Accuracy: 0.8256704807281494

In [216]:
encoded_predictions = model.predict_classes([X_test_scaled[:10]])

prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [218]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Winner-Fighter 1' 'Winner-Fighter 1' 'Winner-Fighter 1'
 'Winner-Fighter 1' 'Winner-Fighter 1' 'Winner-Fighter 1'
 'Winner-Fighter 1' 'Winner-Fighter 1' 'Winner-Fighter 2'
 'Winner-Fighter 1']
Actual Labels: ['Winner-Fighter 2', 'Winner-Fighter 1', 'Winner-Fighter 1', 'Winner-Fighter 2', 'Winner-Fighter 1', 'Winner-Fighter 1', 'Winner-Fighter 1', 'Winner-Fighter 1', 'Winner-Fighter 2', 'Winner-Fighter 1']

In [234]:
model.save("ufc_model_trained.h5")

In [152]:
from tensorflow.keras.models import load_model
ufc_model = load_model("ufc_model_trained.h5")

In [153]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)

print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

522/522 - 0s - loss: 0.6744 - accuracy: 0.6533
Normal Neural Network - Loss: 0.6744398655105824, Accuracy: 0.6532567143440247

In [51]:
# create dataframe which holds every fighter pair and match up with the data required for the model
# run that data through the model predictor to have an ooutcome for every fighter pair

predict_fighter_df = fighter_df.drop(labels = ["dob", "height", "n_win",
                                               "n_loss", "n_draw", "reach", 
                                               "stance", "td_def_pct", "total_fights"], axis = 1)

In [52]:
predict_fighter_df

,name,sig_str_abs_pM,sig_str_def_pct,sig_str_land_pM,sig_str_land_pct,sub_avg,td_avg,td_land_pct,weight
0,Hunter Azure,1.57,0.56,4.00,0.50,2.5,2.00,0.33,135 lbs.
1,Jessica Eye,3.36,0.60,3.51,0.36,0.7,0.51,0.50,125 lbs.
2,Rolando Dy,4.47,0.52,3.04,0.37,0.0,0.30,0.20,145 lbs.
3,Gleidson Cutis,8.28,0.59,2.99,0.52,0.0,0.00,0.00,155 lbs.
4,Damien Brown,4.86,0.50,3.66,0.38,0.7,0.68,0.27,155 lbs.
...,...,...,...,...,...,...,...,...,...
2417,Xiaonan Yan,4.22,0.64,6.85,0.40,0.0,0.25,0.50,115 lbs.
2418,Alexander Yakovlev,2.44,0.58,1.79,0.47,0.2,1.56,0.33,155 lbs.
2419,Rani Yahya,1.61,0.52,1.59,0.36,2.1,2.92,0.32,135 lbs.
2420,Eddie Yagin,5.77,0.42,3.13,0.30,1.0,0.00,0.00,145 lbs.
2421,Jamie Yager,2.55,0.63,3.08,0.39,0.0,0.00,0.00,185 lbs.

In [84]:
fighter_pairs = []
fighter_1 = []
fighter_2 = []

for row in predict_fighter_df["name"]:
    for name in predict_fighter_df["name"]:
    
        fighter_pair = row + "/" + name
        f_1 = row
        f_2 = name
        fighter_pairs.append(fighter_pair)
        fighter_1.append(f_1)
        fighter_2.append(f_2)

In [85]:
weight_class = []


for row in predict_fighter_df["weight"]:
    for name in predict_fighter_df["weight"]:
    
        weight = row + "/" + name
        weight_class.append(weight)

In [86]:
f_1_SLpM = []
f_1_str_acc = []
f_1_SApM = []
f_1_str_def = []
f_1_td_acc = []
f_1_td_avg = []
f_1_sub_avg = []
f_2_SLpM = []
f_2_str_acc = []
f_2_SApM = []
f_2_str_def = []
f_2_td_acc = []
f_2_td_avg = []
f_2_sub_avg = []


for row in predict_fighter_df["sig_str_land_pM"]:
    for name in predict_fighter_df["sig_str_land_pM"]:
    
        f_1 = row
        f_2 = name
        f_1_SLpM.append(row)
        f_2_SLpM.append(name)
    
            
for row in predict_fighter_df["sig_str_land_pct"]:
    for name in predict_fighter_df["sig_str_land_pct"]:
    
        f_1 = row
        f_2 = name
        f_1_str_acc.append(row)
        f_2_str_acc.append(name)
        
        
for row in predict_fighter_df["sig_str_abs_pM"]:
    for name in predict_fighter_df["sig_str_abs_pM"]:
    
        f_1 = row
        f_2 = name
        f_1_SApM.append(row)
        f_2_SApM.append(name)
        
        
for row in predict_fighter_df["sig_str_def_pct"]:
    for name in predict_fighter_df["sig_str_def_pct"]:
    
        f_1 = row
        f_2 = name
        f_1_str_def.append(row)
        f_2_str_def.append(name)
        
        
for row in predict_fighter_df["td_avg"]:
    for name in predict_fighter_df["td_avg"]:
    
        f_1 = row
        f_2 = name
        f_1_td_avg.append(row)
        f_2_td_avg.append(name)
        
        
for row in predict_fighter_df["td_land_pct"]:
    for name in predict_fighter_df["td_land_pct"]:
    
        f_1 = row
        f_2 = name
        f_1_td_acc.append(row)
        f_2_td_acc.append(name)
        
        
for row in predict_fighter_df["sub_avg"]:
    for name in predict_fighter_df["sub_avg"]:
    
        f_1 = row
        f_2 = name
        f_1_sub_avg.append(row)
        f_2_sub_avg.append(name)

In [87]:
predict_data_df = pd.DataFrame({
                           "fighter_pair": fighter_pairs,
                           "fighter_1": fighter_1, 
                           "fighter_1_SLpM": f_1_SLpM,
                           "fighter_1_str_acc": f_1_str_acc,
                           "fighter_1_SApM": f_1_SApM,
                           "fighter_1_str_def": f_1_str_def,
                           "fighter_1_td_avg": f_1_td_avg,
                           "fighter_1_td_acc": f_1_td_acc, 
                           "fighter_1_sub_avg": f_1_sub_avg,
                           "fighter_2": fighter_2,
                           "fighter_2_SLpM": f_2_SLpM, 
                           "fighter_2_str_acc": f_2_str_acc,
                           "fighter_2_SApM": f_2_SApM,
                           "fighter_2_str_def": f_2_str_def,
                           "fighter_2_td_avg": f_2_td_avg,
                           "fighter_2_td_acc": f_2_td_acc,
                           "fighter_2_sub_avg": f_2_sub_avg, 
                           "weight_class": weight_class
                          })

In [88]:
predict_data_df

,fighter_pair,fighter_1,fighter_1_SLpM,fighter_1_str_acc,fighter_1_SApM,fighter_1_str_def,fighter_1_td_avg,fighter_1_td_acc,fighter_1_sub_avg,fighter_2,fighter_2_SLpM,fighter_2_str_acc,fighter_2_SApM,fighter_2_str_def,fighter_2_td_avg,fighter_2_td_acc,fighter_2_sub_avg,weight_class
0,Hunter Azure/Hunter Azure,Hunter Azure,4.00,0.50,1.57,0.56,2.0,0.33,2.5,Hunter Azure,4.00,0.50,1.57,0.56,2.00,0.33,2.5,135 lbs./135 lbs.
1,Hunter Azure/Jessica Eye,Hunter Azure,4.00,0.50,1.57,0.56,2.0,0.33,2.5,Jessica Eye,3.51,0.36,3.36,0.60,0.51,0.50,0.7,135 lbs./125 lbs.
2,Hunter Azure/Rolando Dy,Hunter Azure,4.00,0.50,1.57,0.56,2.0,0.33,2.5,Rolando Dy,3.04,0.37,4.47,0.52,0.30,0.20,0.0,135 lbs./145 lbs.
3,Hunter Azure/Gleidson Cutis,Hunter Azure,4.00,0.50,1.57,0.56,2.0,0.33,2.5,Gleidson Cutis,2.99,0.52,8.28,0.59,0.00,0.00,0.0,135 lbs./155 lbs.
4,Hunter Azure/Damien Brown,Hunter Azure,4.00,0.50,1.57,0.56,2.0,0.33,2.5,Damien Brown,3.66,0.38,4.86,0.50,0.68,0.27,0.7,135 lbs./155 lbs.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5866079,Jamie Yager/Xiaonan Yan,Jamie Yager,3.08,0.39,2.55,0.63,0.0,0.00,0.0,Xiaonan Yan,6.85,0.40,4.22,0.64,0.25,0.50,0.0,185 lbs./115 lbs.
5866080,Jamie Yager/Alexander Yakovlev,Jamie Yager,3.08,0.39,2.55,0.63,0.0,0.00,0.0,Alexander Yakovlev,1.79,0.47,2.44,0.58,1.56,0.33,0.2,185 lbs./155 lbs.
5866081,Jamie Yager/Rani Yahya,Jamie Yager,3.08,0.39,2.55,0.63,0.0,0.00,0.0,Rani Yahya,1.59,0.36,1.61,0.52,2.92,0.32,2.1,185 lbs./135 lbs.
5866082,Jamie Yager/Eddie Yagin,Jamie Yager,3.08,0.39,2.55,0.63,0.0,0.00,0.0,Eddie Yagin,3.13,0.30,5.77,0.42,0.00,0.00,1.0,185 lbs./145 lbs.
5866083,Jamie Yager/Jamie Yager,Jamie Yager,3.08,0.39,2.55,0.63,0.0,0.00,0.0,Jamie Yager,3.08,0.39,2.55,0.63,0.00,0.00,0.0,185 lbs./185 lbs.

In [90]:
predict_data_clean = predict_data_df.drop(labels = ["fighter_pair", "fighter_1", "fighter_2", "weight_class"], axis = 1)
predict_data_clean

,fighter_1_SLpM,fighter_1_str_acc,fighter_1_SApM,fighter_1_str_def,fighter_1_td_avg,fighter_1_td_acc,fighter_1_sub_avg,fighter_2_SLpM,fighter_2_str_acc,fighter_2_SApM,fighter_2_str_def,fighter_2_td_avg,fighter_2_td_acc,fighter_2_sub_avg
0,4.00,0.50,1.57,0.56,2.0,0.33,2.5,4.00,0.50,1.57,0.56,2.00,0.33,2.5
1,4.00,0.50,1.57,0.56,2.0,0.33,2.5,3.51,0.36,3.36,0.60,0.51,0.50,0.7
2,4.00,0.50,1.57,0.56,2.0,0.33,2.5,3.04,0.37,4.47,0.52,0.30,0.20,0.0
3,4.00,0.50,1.57,0.56,2.0,0.33,2.5,2.99,0.52,8.28,0.59,0.00,0.00,0.0
4,4.00,0.50,1.57,0.56,2.0,0.33,2.5,3.66,0.38,4.86,0.50,0.68,0.27,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5866079,3.08,0.39,2.55,0.63,0.0,0.00,0.0,6.85,0.40,4.22,0.64,0.25,0.50,0.0
5866080,3.08,0.39,2.55,0.63,0.0,0.00,0.0,1.79,0.47,2.44,0.58,1.56,0.33,0.2
5866081,3.08,0.39,2.55,0.63,0.0,0.00,0.0,1.59,0.36,1.61,0.52,2.92,0.32,2.1
5866082,3.08,0.39,2.55,0.63,0.0,0.00,0.0,3.13,0.30,5.77,0.42,0.00,0.00,1.0
5866083,3.08,0.39,2.55,0.63,0.0,0.00,0.0,3.08,0.39,2.55,0.63,0.00,0.00,0.0

In [154]:
predict_data_scaled = X_scaler.transform(predict_data_clean)

In [156]:
encoded_predictions = model.predict_classes([predict_data_scaled])

prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [159]:
predict_data_df["winner"] = prediction_labels